{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "JSX": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended", "prettier/react"],
  "plugins": ["babel", "import"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "no-use-before-define": "off",
    "babel/no-unused-expressions": 1,
    "camelcase": "off",
    "func-names": "off",
    "import/first": "error",
    "import/prefer-default-export": 0,
    "no-console": "warn",
    "no-eval": "error",
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-unused-expressions": 1,
    "react/forbid-prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "warn"
  }
}
